<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.guadeestudio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionOneActivity"
            android:label="@string/question_one_page">
        </activity>
        <activity
            android:name=".QuestionTwoActivity"
            android:label="@string/question_two_page">
        </activity>
        <activity
            android:name=".QuestionThreeActivity"
            android:label="@string/question_three_page">
        </activity>
        <activity
            android:name=".QuestionFourActivity"
            android:label="@string/question_four_page">
        </activity>
        <activity
            android:name=".QuestionFiveActivity"
            android:label="@string/question_five_page">
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/results_page">
        </activity>
    </application>

</manifest>